@using businessProBms.Models
@{
    ViewBag.Title = "BalanceSheet";
}
<h2>Balance Sheet</h2>
<hr />
<script src="~/Scripts/moment.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<form>
    <div class="container" style="position:relative">
        <table class="table table-responsive">
            <tr>
                <th>
                    From Date
                </th>
                <th>
                    To Date
                </th>
                <th>
                    &nbsp;
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
            <tr>
                <td>
                    <div class='col-xs-8 input-group date'>
                        <input type="text" id="sdate" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class='col-xs-8 input-group date'>
                        <input type="text" id="edate" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </td>
                <td>
                    <input type="button" value="Show" class="btn btn-primary" onclick="result()" />
                </td>
                <td>
                    <input type="button" value="Print" class="btn btn-success disabled" id="btnprint" onclick="CallPrint('divPrint')" />
                </td>
            </tr>
        </table>
    </div>
</form>
<br />
<div id="divPrint">
    <center><h1 id="heading" style="color:black; background-color:aqua"></h1></center>
    <table class="table table-responsive" id="tblResult">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        $(function () {
            $('#sdate').datetimepicker({ format: 'YYYY-MM-DD' });
            $("#edate").datetimepicker({ format: 'YYYY-MM-DD' });
        });
    });
    function CallPrint(strid) {
        var prtContent = document.getElementById(strid);
        var WinPrint = window.open('PrintDiv', 'Print-Window', 'width=920,height=750,top=100,left=100');
        WinPrint.document.write(prtContent.innerHTML);
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
        prtContent.innerHTML = strOldOne;
    }
    function result() {
        var val = {};
        val.startDate = $("#sdate").val();
        val.endDate = $("#edate").val();
        $.ajax({
            cashe: false,
            url: "/ExpenseVoucher/balSheet",
            data: val,
            success: function (data) {
                var head = '';
                var aTot = 0;
                var lTot = 0;
                var cTot = 0;
                var revenue = 0;
                var expense = 0;
                head += "<tr>"
                head += "<th><center>Assets<center></th>"
                head += "<th>&nbsp</th>"
                head += "</tr>";
                var heading = "Balance Sheet for the Business <br>From " + val.startDate + " To " + val.endDate;
                $("#heading").html(heading);
                $("#tblResult thead").html(head);
                var rows = '';
                $.each(data.Assets, function (i, item) {
                    item.balance = Math.abs(item.balance);
                    aTot = aTot + item.balance;
                    rows += "<tr class='Search'>"
                    rows += "<td>" + item.accountname + "</td>"
                    rows += "<td> RS " + item.balance + "</td>"
                    rows += "</tr>";
                    $("#tblResult tbody").html(rows);
                });
                rows += "<tr>"
                rows += "<td><b>Total Assets: </b></td>"
                rows += "<td> RS <b>" + aTot + "</b></td>"
                rows += "</tr>";
                rows += "<tr>"
                rows += "<td><center><b>Liabilities </b></center></td>"
                rows += "<td>&nbsp</td>"
                rows += "</tr>";
                $("#tblResult tbody").html(rows);
                $.each(data.Liability, function (i, item) {
                    item.balance = Math.abs(item.balance);
                    lTot = lTot + item.balance;
                    rows += "<tr class='Search'>"
                    rows += "<td>" + item.accountname + "</td>"
                    rows += "<td> RS " + item.balance + "</td>"
                    rows += "</tr>";
                    $("#tblResult tbody").html(rows);
                });
                rows += "<tr>"
                rows += "<td><b>Total Laibilities : </b></td>"
                rows += "<td> RS <b>" + lTot + "</b></td>"
                rows += "</tr>";
                rows += "<tr>"
                rows += "<td><center><b>Capital </b></center></td>"
                rows += "<td>&nbsp</td>"
                rows += "</tr>";
                $("#tblResult tbody").html(rows);
                $.each(data.Capital, function (i, item) {
                    item.balance = Math.abs(item.balance);
                    cTot = cTot + item.balance;
                    rows += "<tr class='Search'>"
                    rows += "<td>" + item.accountname + "</td>"
                    rows += "<td> RS " + item.balance + "</td>"
                    rows += "</tr>";
                    $("#tblResult tbody").html(rows);
                });
                rows += "<tr>"
                rows += "<td><b>Total Capital : </b></td>"
                rows += "<td> RS <b>" + cTot + "</b></td>"
                rows += "</tr>";
                $("#tblResult tbody").html(rows);
                $.each(data.Revenue, function (i, item) {
                    item.revenueTot = Math.abs(item.revenueTot);
                    revenue = item.revenueTot;
                });
                $.each(data.Expense, function (i, item) {
                    item.expenseTot = Math.abs(item.expenseTot);
                    expense = item.expenseTot;
                });
                var net = 0;
                net = revenue - expense;
                if ( net > 0) {
                    cTot = cTot + net;
                    rows += "<tr>"
                    rows += "<td><b>Profit (Add) : </b></td>"
                    rows += "<td style='color:blue'><b> RS " + net + "</td>"
                    rows += "</tr>";
                }
                else {
                    cTot = cTot - net;
                    rows += "<tr>"
                    rows += "<td><b>Loss (Sub) : </b></td>"
                    rows += "<td style='color:red'><b> RS " + net + "</td>"
                    rows += "</tr>";
                }
                rows += "<tr>"
                rows += "<td><b>Assets = Liablity + Capital => </b></td>"
                rows += "<td><b>" + aTot + " = " + ( lTot + cTot ) + "</b></td>"
                rows += "</tr>";
                $("#tblResult tbody").html(rows);
                $("#btnprint").removeClass('disabled');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('There is an error ');
            }
        })
    }
</script>
