@using businessProBms.Models
@{
    ViewBag.Title = "IncomeStatement";
}

<h2>Income Statement</h2>
<br />
<script src="~/Scripts/moment.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<hr />
<form>
    <div class="container" style="position:relative">
        <table class="table table-responsive">
            <tr>
                <th>
                    From Date
                </th>
                <th>
                    To Date
                </th>
                <th>
                    &nbsp;
                </th>
                <th>
                    &nbsp;
                </th>
            </tr>
            <tr>
                <td>
                    <div class='col-xs-8 input-group date'>
                        <input type="text" id="sdate" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class='col-xs-8 input-group date'>
                        <input type="text" id="edate" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </td>
                <td>
                    <input type="button" value="Show" class="btn btn-primary" onclick="result()" />
                </td>
                <td>
                    <input type="button" value="Print" class="btn btn-success disabled" id="btnprint" onclick="CallPrint('divPrint')" />
                </td>
            </tr>
        </table>
    </div>
</form>
<br />
<div id="divPrint">
    <center><h1 id="heading" style="background-color:blue; color:black"></h1></center>
    <table class="table table-responsive" id="tblResult">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        $(function () {
            $('#sdate').datetimepicker({ format: 'YYYY-MM-DD' });
            $("#edate").datetimepicker({ format: 'YYYY-MM-DD' });
        });
    });
    function CallPrint(strid) {
        var prtContent = document.getElementById(strid);
        var WinPrint = window.open('PrintDiv', 'Print-Window', 'width=920,height=750,top=100,left=100');
        WinPrint.document.write(prtContent.innerHTML);
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
        prtContent.innerHTML = strOldOne;
    }
    function result() {
        var val = {};
        val.startDate = $("#sdate").val();
        val.endDate = $("#edate").val();
        $.ajax({
            cashe: false,
            url: "/ExpenseVoucher/income",
            data: val,
            success: function (data) {
                var head = '';
                var Rtot = 0;
                var Etot = 0;
                var res = 0;
                head += "<tr>"
                head += "<th><center>Revenues<center></th>"
                head += "<th>&nbsp</th>"
                head += "</tr>";
                var heading = "Income Statement for the Business <br>From " + val.startDate + " To " + val.endDate;
                $("#heading").html(heading);
                $("#tblResult thead").html(head);
                var rows = '';
                $.each(data.Revenue, function (i, item) {
                        Rtot =Rtot + item.balance;
                        rows += "<tr class='Search'>"
                        rows += "<td>" + item.accountname + "</td>"
                        rows += "<td> RS " + item.balance + "</td>"
                        rows += "</tr>";
                        $("#tblResult tbody").html(rows);
                });
                rows += "<tr>"
                rows += "<td><b>Total Revenue: </b></td>"
                rows += "<td>" + Rtot +"</td>"
                rows += "</tr>";
                rows += "<tr>"
                rows += "<td><center><b>Expenses </b></center></td>"
                rows += "<td>&nbsp</td>"
                rows += "</tr>";
                $("#tblResult tbody").html(rows);
                $.each(data.Expense, function (i, item) {
                    Etot = Etot + item.balance;
                    rows += "<tr class='Search'>"
                    rows += "<td>" + item.accountname + "</td>"
                    rows += "<td> RS " + item.balance + "</td>"
                    rows += "</tr>";
                    $("#tblResult tbody").html(rows);
                });
                res = Rtot - Etot;
                rows += "<tr>"
                rows += "<td><b>Total Expense : </b></td>"
                rows += "<td>" + Etot + "</td>"
                rows += "</tr>";
                rows += "<tr>"
                rows += "<td><b>Net Income/Loss : </b></td>"
                rows += "<td>" + res + "</td>"
                rows += "</tr>";
                $("#tblResult tbody").html(rows);
                $("#btnprint").removeClass('disabled');
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert('There is an error ');
            }
        })
    }
</script>