@using businessProBms.Models
@model voucherViewModel
@{
    ViewBag.Title = "Report";
}
<h2>Ledger Report</h2>
<script src="~/Scripts/moment.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<hr />
<form>
    <div class="container" style="position:relative">
        <table class="table table-responsive">
            <tr>
                <td><b>Account</b></td>
                <td><b>From Date</b></td>
                <td><b>To Date</b></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>
                    @Html.DropDownListFor(m => m.voucherDetail.accountNo, new SelectList(ViewBag.accounts, "code", "name"),
                    "--Select Account--", new { @class = "form-control", id = "vacc" })
                    @Html.ValidationMessageFor(m => m.voucherDetail.accountNo)
                </td>
                <td>
                    <div class='col-xs-11 input-group date'>
                        <input type="text" id="sdate" class="form-control" />    
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </td>
                <td>
                    <div class='col-xs-11 input-group date'>
                        <input type="text" id="edate" class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </td>
                <td>
                    <input type="button" value="Search" class="btn btn-primary" onclick="srcbtn()" />
                </td>
                <td>
                    <input type="button" value="Print" class="btn btn-success disabled" id="btnprint" onclick="CallPrint('divPrint')" />
                </td>
            </tr>
        </table>
    </div>
</form>
<div class="input-group" style=" margin-left: 800px;">
    <span class="input-group-addon">
        <i class="glyphicon glyphicon-search">
        </i>
    </span><input type="text" id="Search" class="form-control" placeholder="Search Here.." />
</div>
<br />
<div id="divPrint">
    <center><h1 id="heading" style="color:black; background-color:aqua"></h1></center>
    <table class="table table-bordered table-striped table-responsive" id="tblResult">
        <thead></thead>
        <tbody></tbody>
    </table>
</div>
<br />
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function CallPrint(strid) {
        var prtContent = document.getElementById(strid);
        var WinPrint = window.open('PrintDiv', 'Print-Window', 'width=920,height=750,top=100,left=100');
        WinPrint.document.write(prtContent.innerHTML);
        WinPrint.document.close();
        WinPrint.focus();
        WinPrint.print();
        WinPrint.close();
        prtContent.innerHTML = strOldOne;
    }

   $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchtext = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchtext)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
   });
   $.noConflict();
   jQuery(document).ready(function ($) {
       $(function () {
           $('#sdate').datetimepicker({ format: 'YYYY-MM-DD' });
           $("#edate").datetimepicker({ format: 'YYYY-MM-DD' });
       });
   });
   function srcbtn() {
           var val = {};
           val.acc = $("#vacc").val();
           val.startDate = $("#sdate").val();
           val.endDate = $("#edate").val();
           $.ajax({
               cashe: false,
               type: "POST",
               url: "/ExpenseVoucher/srcData",
               data: val,
               success: function (data) {
                   var head = '';
                   head += "<tr>"
                   head += "<th>Date</th>"
                   head += "<th>Voucher No</th>"
                   head += "<th>Account No</th>"
                   head += "<th>Account Name</th>"
                   head += "<th>Debit(RS)</th>"
                   head += "<th>Credit(RS)</th>"
                   head += "<th>Balance(RS)</th>"
                   head += "</tr>";
                   var heading = "Ledger Report for Account: " + $("#vacc :selected").text() + ",<br> From: " + val.startDate + " To: " + val.endDate;
                   $("#heading").html(heading);
                   $("#tblResult thead").html(head);
                   var rows = '';
                   var drTotal = 0;
                   var crTotal = 0;
                   var balance = 0;
                   $.each(data.Result, function (i, item) {
                       var date = ToJavaScriptDate(item.vdate);
                       rows += "<tr class='Search'>"
                       rows += "<td>" + date + "</td>"
                       rows += "<td>" + item.vno + "</td>"
                       rows += "<td>" + item.accountno + "</td>"
                       rows += "<td>" + item.accountname + "</td>"
                       rows += "<td>" + item.debit + "</td>"
                       rows += "<td>" + item.credit + "</td>"
                       rows += "<td>" + item.balance + "</td>"
                       rows += "</tr>";
                       drTotal = item.drTot;
                       crTotal = item.crTot;
                       balance = item.drTot - item.crTot;
                       $("#tblResult tbody").html(rows);
                   });
                   rows += "<tr>"
                   rows += "<td><b>Total : </b></td>"
                   rows += "<td>&nbsp;</td>"
                   rows += "<td>&nbsp;</td>"
                   rows += "<td>&nbsp;</td>"
                   rows += "<td>" + drTotal + "</td>"
                   rows += "<td>" + crTotal + "</td>"
                   rows += "<td>" + balance + "</td>"
                   rows += "</tr>";
                   $("#tblResult tbody").html(rows);
                   $("#btnprint").removeClass('disabled');
               },
               error: function (xhr, ajaxOptions, thrownError) {
                   alert('There is an error ');
               }
           });
   }
   function ToJavaScriptDate(value) {
       var pattern = /Date\(([^)]+)\)/;
       var results = pattern.exec(value);
       var dt = new Date(parseFloat(results[1]));
       // return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
       return dt.getFullYear() + "/" + (dt.getMonth() + 1) + "/" + dt.getDate();
   }
</script>
