
@{
    ViewBag.Title = "LearnMore";
}
<h1>Welcome</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <p style="font-size:20px;">
            <strong> Business Pro:</strong> Business Management System, can take care of all of your business related activities.<br />
            For the best utilization of this software you need to understand, how you can use it, you just only need to have<br /> 
            <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Basic Knowledge of Computers.<br />
            <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Basic How know of Accounting.<br />
            <i class="fa fa-check" aria-hidden="true"></i>&nbsp;Thats it...<br />
        </p>
    </div>
    <div class="col-md-6">

    </div>
</div>

